<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LR3</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="value"> Значение
    <br>
    <input type="text" name="precision"> Точность
    <br>
    <input type="radio" name="units" value="degrees" checked>Градусы
    <input type="radio" name="units" value="radians">Радианы
    <br>
    <button type="submit" name="send">Посчитать</button>
</form>
<p>sin: {{sin}}     cos: {{cos}}</p>
<p>tg: {{tg}}       ctg: {{ctg}}</p>
</body>
</html>